{
        log {
                exclude http.handlers.reverse_proxy
        }
}
:{$PORT}
encode gzip
# Configure ttyd
handle ttyd* {
        redir ttyd ttyd/
        uri strip_prefix ttyd       
        reverse_proxy * localhost:7681
}