# Created by wy580477 for customized container <https://github.com/wy580477>
{
        log {
                exclude http.handlers.reverse_proxy
        }
}
:{$PORT}
encode gzip
# Configure tachidesk
handle tachidesk* {
        redir tachidesk tachidesk/
        uri strip_prefix tachidesk       
        reverse_proxy * localhost:4567
}